<h1>Notice Board</h1>
<div class="box box-primary">
  <div  id="table", class="container-fluid" >
    <div class="row">
    </br>
      <div class="col-sm-1"><Strong>Id</strong></div>
      <div class="col-sm-2"><Strong>Subject</Strong></div>
    </div></br>
    <div class="row">
    <% @notice.each do |f|%>
      <div class="col-sm-12">
        <div class="col-sm-1"><%= f.id%></div>
        <div class="col-sm-2"><%= f.subject%></div>
        <div class="col-sm-1"><%= link_to "show", "/notices/#{f.id}",class: "btn btn-info"%></div>
        <div class="col-sm-1"><%= link_to "edit", "/notices/#{f.id}/edit",class: "btn btn-info"%></div>
        <div class="col-sm-1"><%= link_to "remove", "/notices/#{f.id}" , method: "delete",class: "btn btn-info"%></br></br></div>
      </div>
    <% end%>
      </div>
    <%= link_to "Add Notice", "/notices/new",class: "btn btn-success"%></br></br>
  </div>
</div>
