<h1>Create Notice</h1>
<div class="box box-primary">
  <div class="container-fluid" >
  </br>
    <%= form_for(@notice) do |l|%>
      <label for="subject",,class= "col-sm-2 control-label">Subject: </label>
        <%= l.text_field :subject, :id => "subject" %>
      <span>
        <%= @notice.errors.messages[:subject].first%>
      </span></br></br></br>
      <label for="content">Content: </label>
       <%= l.text_area :content, :id => "content"%>
      <span>
        <%= @notice.errors.messages[:content].first%>
      </span></br></br></br>
      <%= l.submit "Submit", onclick: "return to_check()" %></br></br>
    <% end%>
  </div>
</div>
