<% if !admin? %>
<% if flash[:notice] %>
  <div class="box box-primary"><br /><div class="container-fluid"><%= flash[:notice] %></div><br /></div>
<% end %>

  <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3><%= current_user.max_leaves%></h3>
            <p>Total Leaves</p>
          </div>
          <div class="icon">
            <i class="fa fa-hourglass"></i>
          </div>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3><%= current_user.leaves.where(:status => "accepted").count%><sup style="font-size: 20px"></sup></h3>
            <p>Accepted Leaves</p>
          </div>
          <div class="icon">
              <i class="fa fa-thumbs-o-up"></i>
          </div>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3><%= current_user.leaves.where(:status => "rejected").count%></h3>
            <p>Rejected Leaves</p>
          </div>
          <div class="icon">
            <i class="fa fa-thumbs-o-down"></i>
          </div>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3><%= ((current_user.max_leaves)-(current_user.leaves.where(:status => "accepted").count))%></h3>
            <p>Leaves Left  </p>
          </div>
          <div class="icon">
            <i class="fa fa-hourglass-half"></i>
          </div>
        </div>
      </div><!-- ./col -->
    </div><!-- /.row -->

  <%= link_to "Apply For Leave", "/leaves/new",class: "btn btn-primary"%></br></br>
<%end%>
  <% if admin? %>
    <%= link_to "Back", "/list_users",class: "btn btn-primary"%></br></br>
  <%end%>

<% if @leaves.count != 0%>
  <div class="box box-primary ">
    <div class="box-header">
      <h3 class="box-title">Leaves</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table id="example1" class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Reason For Leave</th>
            <th>Status</th>
            <th>Leave From</th>
            <th>Leave To </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @leaves.each do |f|%>
            <tr>
              <td><%= f.id%></td>
              <td><%= f.reason_for_leave%></td>
              <td><%= f.status%></td>
              <td><%= f.leave_date_from%></td>
              <td><%= f.leave_date_to%></td>
              <% if !admin? %>
                <%if f.status == "pending" %>
                  <td><%= link_to "", "/leaves/#{f.id}/edit",class: "btn btn-primary glyphicon glyphicon-edit"%></td>
                  <td> <%= link_to "", "/leaves/#{f.id}" , method: "delete",class: "btn btn-primary glyphicon glyphicon-trash"%></td>
                <% end%>
              <% end%>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
  <%else%>
    <div class="box box-primary ">
      <div class="box-header">
        <h3 class="box-title">There Are No Leaves</h3>
      </div>
    </div>
  <% end%>
