<div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>20</h3>
          <p>Total Leaves</p>
        </div>
        <div class="icon">
          <i class="ion ion-happy"></i>
        </div>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3><%= current_user.leaves.where(:status => "accepted").count%><sup style="font-size: 20px"></sup></h3>
          <p>ACCEPTED lEAVES</p>
        </div>
        <div class="icon">
          <i class="glyphicon glyphicon-ok-circle"></i>
        </div>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><%= current_user.leaves.where(:status => "rejected").count%></h3>
          <p>Rejected Leaves</p>
        </div>
        <div class="icon">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </div>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3><%= (20-(current_user.leaves.where(:status => "accepted").count))%></h3>
          <p>Leaves Left  </p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
      </div>
    </div><!-- ./col -->
  </div><!-- /.row -->

  <%= link_to "create new", "/leaves/new",class: "btn btn-success"%></br></br>
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">My Notices</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Reason For Leave</th>
            <%if !admin? %>
              <th>Status</th>
            <% end%>
            <th>Leave From</th>
            <th>Leave TO</th>
          </tr>
        </thead>
        <tbody>
          <% @leave.each do |f|%>
            <tr>
              <td><%= f.id%></td>
              <td><%= f.reason_for_leave%></td>
              <%if !admin? %>
                <td><%= f.status%></td>
              <% end%>
              <td><%= f.leave_date_from%></td>
              <td><%= f.leave_date_to%></td>
              <% if !admin? %>
                <%if f.status == "pending" %>
                  <td><%= link_to "edit", "/leaves/#{f.id}/edit",class: "btn btn-info"%></td>
                  <td> <%= link_to "remove", "/leaves/#{f.id}" , method: "delete",class: "btn btn-info"%></td>
                <% end%>
              <% end%>
              <% if admin? %>
                <td><%= link_to "Accept", "/leaves/#{f.id}/leave_status_accept", class: "btn btn-info"%></td>
                <td><%= link_to "Decline", "/leaves/#{f.id}/leave_status_decline", class: "btn btn-info"%></td>
              <% end%>
            </tr>
          <%end%>
        </tbody>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Reason For Leave</th>
            <%if !admin? %>
              <th>Status</th>
            <% end%>
            <th>Leave From</th>
            <th>Leave TO</th>
          </tr>
        </tfoot>
      </table>
    </div><!-- /.box-body -->
  </div><!-- /.box -->




  <div class="col-md-9">
    <div class="box box-primary">
      <div class="box-body no-padding">
        <!-- THE CALENDAR -->
        <div id="calendar"></div>
      </div><!-- /.box-body -->
    </div><!-- /. box -->
  </div><!-- /.col -->
