  <h1>User Leave Index</h1>
<div class="box box-primary">
  <div class="container-fluid" >
  </br>
    <div id="table">
      <div class="row">
        <div class="col-sm-1"><Strong>Id</strong></div>
        <div class="col-sm-2"><Strong>Reason For Leave</Strong></div>
          <%if current_user.role.user_role != "Admin" %>
            <div class="col-sm-1"><Strong>Status</Strong></div>
          <%end%>
        <div class="col-sm-1"><Strong>Leave From</Strong></div>
        <div class="col-sm-1"><Strong>Leave To</Strong></div>
      </div></br>
    <% @leave.each do |f|%>
    <div class="row">
      <div class="col-sm-1"><%= f.id%></div>
      <div class="col-sm-2"><%= f.reason_for_leave%></div>
      <%if current_user.role.user_role != "Admin" %>
        <div class="col-sm-1"><%= f.status%></div>
      <%end%>
      <div class="col-sm-1"><%= f.leave_date_from%></div>
      <div class="col-sm-1"><%= f.leave_date_to%></div>
      <div class="col-sm-1"><%= link_to "edit", "/leaves/#{f.id}/edit",class: "btn btn-info"%></div>
      <%if !admin? %>
        <div class="col-sm-1"><%= link_to "remove", "/leaves/#{f.id}" , method: "delete",class: "btn btn-info"%></br></br></div>
      <%end%>
      <%if admin? %>
        <div class="col-sm-1"><%= link_to "Accept", "/leaves/#{f.id}/leave_status_accept", class: "btn btn-info"%></br></br></div>
      <%end%>
      <%if admin? %>
        <div class="col-sm-1"><%= link_to "Decline", "/leaves/#{f.id}/leave_status_decline", class: "btn btn-info"%></br></br></div>
      <%end%>
    </div></br>
    <% end%>
  </div>
</div>

<%if current_user.role.user_role != "Admin" %>
  <%= link_to "create new", "/leaves/new",class: "btn btn-success"%></br></br>
  <%end%>
