<div class="box box-primary ">
  <div class="box-header">
    <h3 class="box-title">Leave Decision</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div  class ="text-xs-center">
      <label>Id: </label>
      <%= @leave.id%></br>
      <label>Reason: </label>
      <%= @leave.reason_for_leave%></br>
      <label>Status: </label>
      <%= @leave.status%></br>
      <label>Leave From: </label>
      <%= @leave.leave_date_from%></br>
      <label>Leave TO: </label>
      <%= @leave.leave_date_to%></br>
    </div>
      <% if @leave.status == "pending"%>
        <%= link_to "", "/leaves/#{@leave.id}/edit",class: "btn btn-primary glyphicon glyphicon-edit"%>
        <%= link_to "Decline", "/leaves/#{@leave.id}/leave_status_decline", class: "btn btn-primary pull-right glyphicon glyphicon-remove"%>
        <%= link_to "Accept", "/leaves/#{@leave.id}/leave_status_accept", class: "btn btn-primary pull-right glyphicon glyphicon-ok"%>
      <% end%>
  </div><!-- /.box-body -->
</div><!-- /.box -->
