<%@role.each do |r|%>
<div id="role_<%= r.id %>">
  <%= r.id%>
  <%= r.user_role%>
  <%= link_to "edit", "/roles/#{r.id}/edit"%>
  <button type="button" onclick = "my_btn(<%= r.id%>)">delete</button></br></br>
</div>
<%end%>
<%= link_to "create new", "/roles/new"%>
