<h2>Edit Employee</h2>

<%= form_for(@user, url: "/list_users/#{@user.id}", html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :max_leaves %><br />
    <%= f.text_field :max_leaves %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", "/list_users" %>
