<!-- <h2>Edit Employee</h2>

<%#= form_for(@user, url: "/list_users/#{@user.id}", html: { method: :put }) do |f| %>
  <div class="field">
    <%#= f.label :max_leaves %><br />
    <%#= f.text_field :max_leaves %>
  </div>

  <div class="actions">
    <%#= f.submit "Update" %>
  </div>
<%# end %>

<%#= link_to "Back", "/list_users" %> -->


<div class="register-box">
  <div class="login-logo">
    <b>Edit Profile</b>
  </div>
  <div class="register-box-body">
    <%= form_for(@user, url: "/list_users/#{current_user.id}", method: :put, html: {:multipart => true }) do |f| %>
      <!-- <%#= devise_error_messages! %> -->

      <div class="form-group has-feedback">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
        <%= error_messages!(@user, :name) %>
      </div>

      <div class="form-group has-feedback">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
        <%= error_messages!(@user, :email) %>
      </div>

      <div class="form-group has-feedback">
        <%= radio_button("user", "gender", "male", :checked => true) %>
        <%= f.label :male %>
        <%= radio_button("user", "gender", "female") %>
        <%= f.label :female %>
      </div>

      <div class="form-group has-feedback">
        <%= f.label :phone %><br />
        <%= f.text_field :phone_no %>
        <%= error_messages!(@user, :phone) %>
      </div>

      <div class="form-group has-feedback">
        <%= f.file_field :image %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
    <%= link_to "Change your password", edit_user_registration_path %>
    <% if !admin? %>
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", "/list_users/#{@user.id}/cancel", data: { confirm: "Are you sure?" }, method: :delete %></p>
    <% end %>
  </div>
</div>


<%= link_to "Back", "/dashboard" %>
