  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">List of Employees</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-hover table table-striped">
        <thead>
          <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Email</th>
            <th>Remaining Leaves</th>
            <th>Delete Employee</th>
          </tr>
        </thead>
        <tbody>
          <% @user.each do |u| %>
            <tr data-link= "/list_users/<%= u.id%>/employee_leaves_checkinouts">
              <td><%= u.id %></td>
              <td><%= u.name %></td>
              <td><%= u.email %></td>
              <td><%= (u.max_leaves - u.leaves.where(status: :"accepted").count)%></td>
              <td><%= u.image_uid%></td>
              <td>
              <% if current_user != u %>
                <%= link_to "", "/list_users/#{u.id}", method: :delete, class: "btn btn-primary glyphicon glyphicon-trash" %></td>
              <% end %>
             <td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <!-- /.box-body -->
  </div>
