<div class="col-xs-11 table-responsive">
  <%= link_to "Add new Employee", "/list_users/new" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Max Leaves</th>
        <th>Change Max leaves</th>
        <th>Delete Employee</th>
      </tr>
    </thead>
    <tbody>
      <% @user.each do |u| %>
        <tr>
          <td><%= u.id %></td>
          <td><%= u.name %></td>
          <td><%= u.email %></td>
          <td><%= u.gender %></td>
          <td><%= u.max_leaves %></td>
          <td><%= link_to "Edit", "/list_users/#{u.id}/edit", class: "btn btn-info"%></td>
          <td>
          <% if current_user != u %>
            <%= link_to "Delete", "/list_users/#{u.id}", method: :delete ,class: "btn btn-info" %></td>
          <% end %>
          <td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
