<div class="register-box">
  <div class="login-logo">
    <b>Welcome</b>
  </div>
  <!-- /.login-logo -->
  <div class="register-box-body">
    <p class="login-box-msg">Enter details</p>
    <%= form_for(@user, url: "/list_users", method: :post ) do |f| %>

      <div class="form-group has-feedback">
        <%= f.text_field :name, autofocus: true, placeholder: "Name", :size => 44, style: "padding:7px" %>
        <%= error_messages!(@user, :name) %>
      </div>

      <div class="form-group has-feedback">
        <%= f.text_field :email, autofocus: true, placeholder: "Email", :size => 44, style: "padding:7px" %>
        <%= error_messages!(@user, :email) %>
      </div>

      <div class="form-group has-feedback">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :size => 44, style: "padding:7px" %>
        <%= error_messages!(@user, :password) %>
      </div>

      <div class="form-group has-feedback">
        <%= radio_button("user", "gender", "male", :checked => true) %>
        <%= f.label :male %>
        <%= radio_button("user", "gender", "female") %>
        <%= f.label :female %>
      </div>

      <div class="form-group has-feedback">
        <%= f.label :set_leaves %><br />
        <%= f.text_field :max_leaves, :size => 44, style: "padding:7px" %>
        <%= error_messages!(@user, :max_leaves) %>
      </div>

      <div class="form-group has-feedback">
        <%= f.label :phone %><br />
        <%= f.text_field :phone_no, :size => 44, style: "padding:7px" %>
        <%= error_messages!(@user, :phone_no) %>
      </div>

      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit "Submit", :class => "btn btn-primary btn-block btn-flat" %>
        </div>
        <!-- /.col -->
      </div>
      <% end %>
    </div>
  </div>
<!-- <%#= render "devise/shared/links" %> -->
